<ons-page id="VMain">

    <ons-toolbar>
        <div class="center">Omneedia</div>
    </ons-toolbar>

    <section style="padding: 8px">
        <ons-button>
            <lang>hello</lang>
        </ons-button>
    </section>
    <ons-dialog id="dialog-1">
        <div style="text-align: center; padding: 10px;">
            <p>
                This is a dialog.
                <p>

                    <p>
                        <ons-button id="close-button">Close</ons-button>
                    </p>
        </div>
    </ons-dialog>
</ons-page>